@import 'https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brown-text: #522e27;
    --mid-brown: #856f54;
    --light-brown: #d1c4b3 
}

/* Connecting imported google font to document*/
html {
    font-family: 'Josefin Sans', sans-serif;
}

/* No links will have text decoration */
a {
    text-decoration: none;
}

/* At regular desktop width, mobile navigation will not be visible*/
/* NAV BAR SECTION BEGINS */
#mobile-nav {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffa590;
    align-items: center;
    padding: 0 10%;
    height: 10vh;
}

#name {
    align-self: center;
    margin-left: 1.2rem;
    color: var(--brown-text);
    font-size: 40px;
    font-weight: bold;
}

#toggle-menu {
    display: none;
}

/* z-index allows boxes to be on top of one another, the higher the number, the bigger the position */
.nav-bar {
   display: contents;
}

.nav-bar a {
    padding: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}

.menu-icon {
    color: white;
    cursor: pointer;
    font-size: 40px;
    display: none;
}

/* Styling for Subtitle */

.subtitlecontent {
    display: flex;
    width: 100%;
    background-image: url("../images/subtitle-pic.png");
    justify-content: flex-end;
    padding: 40px;
    background-size: cover;
    font-size: 3rem;
    color: var(--brown-text);
}

/* Hero Section Styling Starts Here */

/* Allows background image to take up 100% of the screen when someone arrives on the page */
.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.image-container {
    position: relative;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    /* Makes image go to the very top of the page */
    margin-top: 0vh;
    animation: scale 15s; 
}

@keyframes scale {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    /* Makes overlay of large portrait go underneath the navbar */
    z-index: 1;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: left;
    /* Allows text to be in a straight column instead of a straight lime */
    flex-direction: column;
    position: absolute;
    /* Top and left will help with media query responsiveness */
    top: 35%;
    left: 10%;
    font-size: 25px;
    color: #2e1503;
    /* Allows text in hero section to turn into capital letters without changing it in HTML*/
    text-transform: uppercase;
    /* Allows text to go on top of overlay section */
    z-index: 2;
    padding: 50px;
}

.firstWord {
    color: var(--brown-text);
}


.resume-button {
    border: 2px solid var(--brown-text);
    width: 175px;
    padding: 30px;
    margin-top: 20px;
}

.resume-text {
    color: #2e1503;
}

.resume-button:hover {
    background-color: rgba(100, 100, 100, 0.4);
}

/* About Me Section Styling */

#aboutme {
    margin-top: 20px; 
    margin-bottom: 20px;
}

h2 {
    display: inline;
}

section {
    display: flex;
}

.push-left {
    text-align: right;
    width: 20%;
    border-right: 5px solid black;
    font-size: 2em;
    padding-right: 50px;
}

.push-right {
    width:80%;
    padding: 0 50px;
    font-size: 110%;
}

/* Application Section Styling */

.application-container {
    width: 100%;
    height: auto;
}

.application-header {
    font-size: 4rem;
    display: flex;
    align-items: left;
    justify-content: center;
    margin: 20px;
}

.applications {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.application-item {
    flex: 100%;
    margin-bottom: 50px;
}

/* Code Refractor Section - Needs to be Larger than other Sections */
.first-application {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-end;
    width: 900px;
    height: 600px;
    background: black;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-image: url("../images/code-refactor.png");
    background-size: cover;
    background-position: center;
}

/* Styling for smaller applications */
.smaller-application {
    display: inline-flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background: black;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

/* 2nd Application Section */
.smaller-application-2 {
    background-image: url("../images/password-generator.png");
}

/* 3rd Application Section */
.smaller-application-3 {
    background-image: url("../images/miryka.png");
}

/* 4th Application Section */
.smaller-application-4 {
    background-image: url("../images/video-narration.png");
}

/* 5th Application Section */
.smaller-application-5 {
    background-image: url("../images/dtc-final.png");
}

.text-container {
    position: absolute;
    height: 75px;
    width: 100%;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: white;
    /* Keeps text within the box of the image, does not show content exceeding the box */
    overflow: hidden;
}

/* if hoovered over, more text explaining project becomes visible */
.text-container:hover {
    height: 250px;
}

/* makes application titles brown */
.name {
    margin-top: 10px;
    color: var(--brown-text);
    font-size: 2rems;
}

/* makes application description text brown */
.content {
    padding: 25px 0;
    color:var(--mid-brown);
}

.button {
    border: 5px solid var(--brown-text);
    width: 160px;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 50px;
}

/* Footer Section Styling Begins */

#contactme  {
    margin-top: 20px;
}

.footerList {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    background: #ffa590;
    font-size: 20px;
}


/* Mobile View */

@media only screen and (max-width: 1272px) {
    .smaller-application, .first-application {
        width: 100%;
    }
    .smaller-application-2, .smaller-application-4 {
        margin-bottom: 50px;
    }
} 

@media screen and (max-width: 700px) {
    .nav-bar {
        display: none;
        position: absolute;
        top: 7rem;
        left: 0;
        width: 100%;
        background-color: #ffa590;
        text-align: center;
        z-index: 2;
    }

    .nav-bar.responsive {
        display: block;
    }

    .nav-bar a {
        display: block;
    }

    .menu-icon {
        display: block;
        z-index: 1;
    }

    #toggle-menu:checked ~ .nav-bar {
        display: block;
    }

}

@media screen and (max-width: 480px) {
    .hero-text h1 {
        top: 0%;
        padding-top: 30px;
    }

    .push-left {
        font-size: 12px;
        display: block;
    }

    .footerList {
        flex-direction: column;
    }
}















