@import 'https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brown-text: #522e27;
    --mid-brown: #856f54;
    --light-brown: #d1c4b3 
}

/* Connecting imported google font to document*/
html {
    font-family: 'Josefin Sans', sans-serif;
}

/* No links will have text decoration */
a {
    text-decoration: none;
}

/* At regular desktop width, mobile navigation will not be visible*/
/* NAV BAR SECTION BEGINS */
#mobile-nav {
    display: none;
}

/* z-index allows boxes to be on top of one another, the higher the number, the bigger the position */
.nav-bar {
    position: absolute;
    z-index: 2;
    width: 100%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    list-style: none;
    height: 10vh;
    background-color: #ffa590;
}

li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}

#name {
    color: var(--brown-text);
    font-size: 40px;
    font-weight: bold;
}

/* Hero Section Styling Starts Here*/

/* Allows background image to take up 100% of the screen when someone arrives on the page */
.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.image-container {
    position: relative;
    background-image: url("/images/hero-image.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    /* Makes image go to the very top of the page */
    margin-top: 0vh;
    animation: scale 15s; 
}

@keyframes scale {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    /* Makes overlay of large portrait go underneath the navbar */
    z-index: 1;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: left;
    /* Allows text to be in a straight column instead of a straight lime */
    flex-direction: column;
    position: absolute;
    /* Top and left will help with media query responsiveness */
    top: 35%;
    left: 10%;
    font-size: 25px;
    color: black;
    /* Allows text in hero section to turn into capital letters without changing it in HTML*/
    text-transform: uppercase;
    /* Allows text to go on top of overlay section */
    z-index: 2;
}

.firstWord {
    color: var(--brown-text);
}


.resume-button {
    border: 2px solid var(--brown-text);
    width: 175px;
    padding: 30px;
    margin-top: 20px;
}

.resume-text {
    color: black;
}

.resume-button:hover {
    background-color: rgba(100, 100, 100, 0.4);
}

/* Application Section Styling */

.application-container {
    width: 100%;
    height: auto;
}

.application-header {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.applications {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

/* Code Refractor Section - Needs to be Larger than other Sections */

.first-application {
    width: 600px;
    height: 600px;
    background: black;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-image: url("/images/code-refactor.png");
    background-size: cover;
    background-position: center;
}
























/* {
    box-sizing: border-box;
}

body {
    margin:0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    color: #fff;
}

.nav {
    display: flex;
    list-style: none;
}

.nav a {
    padding: 8px 12px;
    color: inherit;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.portfolio-grid-item {
    flex-grow: 0;
    background: green;
    width: calc(50% - 5px);
    padding: 15px;
}

.hero-item {
    width: 100%;
}